body {
  margin: 0;
  padding: 0;
  padding-top: 90px; /* Adjust the top padding accordingly */
}


/* General styles for paragraphs */
p {
  font-family: 'Taviraj', serif;
  color: #000000;
  font-weight: normal;
  font-size: 16px;
  margin: 24px 10px;
}

/* General styles for headings */
h1, h2, h3, h4 {
  font-family: 'Work Sans', sans-serif;
}

/* Individual heading styles */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

.centered-heading {
  text-align: center; /* Center the heading */
}

.about-container {
  display: flex;
  align-items: flex-start; /* Align items to the top of the container */
}

.about-container__image {
  max-width: 30%;
  margin-top: 10px; /* Adjust the top margin to move the image closer to the navigation bar */
  margin-right: 20px; /* Add space between image and text */
  margin-left: 20px;
}


.about-container__text {
  flex: 1;
}


/* Add responsive styling as needed for smaller screens */
@media only screen and (max-width: 480px) {
  p {
    font-size: 14px; /* Reduce font size for smaller devices */
    /* You may adjust other styles as needed for better mobile display */
  }

  .about-container {
    flex-direction: column; /* Stack image and text on smaller screens */
  }

  .about-container__image {
    max-width: 80%; /* Adjust for full width on smaller screens */
    margin-right: 0; /* Remove the margin for smaller screens */
    margin-left: 0; /* Remove the margin for smaller screens */
  }
  .centered-heading {
    text-align: center; /* Center the heading on smaller screens */
  }
}


.topnav {
  overflow: hidden;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: white;
  color: #DE5752;
}

.site-footer {
  width: 100vw; /* Use viewport width for the footer to span the entire screen */
  background-color: #434F5B;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0; /* Set the right position to 0 to span the entire width */
}






