
/* General styles for paragraphs */
p {
  font-family: 'Taviraj', serif;
  color: #000000;
  font-weight: normal;
  font-size: 16px;
  margin: 0; /* Remove margin to avoid extra space */
}

/* General styles for the body */
body {
  margin: auto;
  font-family: 'Taviraj', serif;
  font-size: 16px;
  text-align: center; /* Center the content horizontally */
}

/* Styles for the container that holds the image and text */
.about-container {
  max-width: 100%; /* Limit the maximum width of the container */
}

/* Styles for the image with the class "about-container__image" */
.about-container__image {
  max-width: 50%; /* Limit the image to half of the container's width */
  height: auto; /* Automatically adjust height based on width */
  float: left; /* Float the image to the left */
}

/* Styles for the text container */
.about-container__text {
  max-width: 50%; /* Limit the text container to half of the container's width */
  padding: 20px; /* Add some padding for spacing */
  float: left; /* Float the text to the left */
  box-sizing: border-box; /* Include padding and border in the width */
  clear: right; /* Clear the float to ensure proper stacking */
}

/* Styles for the heading */
.page-header__title {
  margin-top: 0; /* Remove default top margin for the heading */
}

/* Styles for the navigation */
.topnav {
  overflow: hidden;
  background-color: #ffffff;
}

.topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a.active {
  background-color: white;
  color: #DE5752;
}

/* Styles for Font Awesome icons */
.fa {
  padding: 10px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 20px 20px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-twitter {
  color: black;
}

.fa-linkedin {
  color: black;
}

/* Media query for smaller devices */
@media only screen and (max-width: 480px) {
  p {
    font-size: 14px; /* Reduce font size for smaller devices */
    /* You may adjust other styles as needed for better mobile display */
  }

  .about-container__image,
  .about-container__text {
    max-width: 100%; /* Allow image and text to take full width on smaller devices */
    float: none; /* Remove float for proper mobile display */
  }

  .topnav a {
    float: none; /* Remove float for proper mobile display */
    display: block; /* Display navigation links as block elements for proper mobile display */
    text-align: left; /* Align navigation links to the left for proper mobile display */
  }
}
