body {
  margin: 0;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #434F5B;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

/* Style the topnav links */
.nav-link {
  color: #f2f2f2;
  text-decoration: none;
  padding: 10px 16px; /* Adjusted padding to keep the text within the box */
  transition: font-weight 0.2s; /* Smooth transition for font-weight */
  font-weight: normal; /* Set the initial font weight */
  line-height: 1.5; /* Fixed line height */
}

/* Change text style on hover */
.nav-link:hover {
  font-weight: bold; /* Change the text style (font-weight) on hover */
  color: #f2f2f2;
}

/* Add background highlight for active link */
.nav-link.selected {
  background-color: #ddd;
  color: black;
  font-weight: bold; /* Set font weight for active link */
}

/* Define your CSS classes here */
.job {
  color: #232323;
  background-color: white;
  width: auto;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  padding-top: 30px;
}

.me {
  color: #FF6162;
  background-color: white;
  width: auto;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
}

.town {
  color: #232323;
  background-color: white;
  width: auto;
  font-size: 25px;
  font-weight: normal;
  text-align: center;
  padding-bottom: 20px;
}

.value-prop {
  text-align: center;
  max-width: 500px; /* Adjust this value as needed to limit the width */
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
  margin: 0 auto; /* Center the element horizontally within its parent container */
}


.image-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    max-width: 100%;
    overflow: hidden;
    height: auto; /* Set the height to auto to allow it to adjust to the image's natural size */
}

img {
    max-width: 80%; /* Adjust the width as needed to make the image smaller */
    max-height: 80vh; /* Adjust the height as needed */
    height: auto; /* Allow the height to adjust proportionally with the width */
}






  
