/* Base styles */
body {
    margin: 0;
    padding: 0;
    padding-top: 90px; /* Adjust the top padding accordingly */
}

p {
    font-family: 'Taviraj', serif;
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    margin: 24px 10px;
}

h1, h2, h3, h4 {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8; /* Adjust background color as needed */
    padding: 10px;
}

.nav-links {
    display: flex;
}

.nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: #333; /* Adjust link color as needed */
}

.burger-btn {
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    color: #333; /* Adjust the color to match the nav link color */
    display: none; /* Hide the hamburger button by default on desktop */
}

/* Mobile styles for Navbar */
@media screen and (max-width: 767px) {
    .nav-links {
        display: none;
    }

 .nav-links.show {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #f8f8f8;
    }

    .nav-link {
        margin: 10px;
        text-align: center;
        color: #006DB6; /* Adjust the color to match the nav link color */
    }

   /* Dropdown text color */
    .nav-links.show .nav-link {
        color: #006DB6; /* Adjust the color to match the nav link color */
    }

    /* Show hamburger button on mobile */
    .burger-btn {
        display: block;
    }
}

  
/* Mentoring section styles */
.mentoring-title {
    text-align: center;
}

.offer-title {
    text-align: center;
}

.mentoring-list {
    list-style: none;
    padding-left: 0;
}

.mentoring-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px;
}

.mentoring-list li i {
    margin-right: 10px;
}

.contact-link {
    color: #005A8D;
    text-decoration: none;
}

/* Footer styles */
.site-footer {
    width: 100%;
    background-color: #434F5B;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Tablet styles */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    body {
        padding-top: 100px;
    }
    h1 {
        font-size: 30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    /* Add other tablet-specific styles as needed */
}

/* Mobile styles */
@media screen and (max-width: 599px) {
    body {
        padding-top: 80px;
    }
    h1 {
        font-size: 24px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    /* Add other mobile-specific styles as needed */
}






















