/* Reset default margin and padding */
body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Taviraj', serif; /* Set body text font-family to Taviraj */
  font-size: 18px;
  margin: 0 80px; /* Updated margin to 80px on both sides */
}


/* General styles for paragraphs */
p {
  font-family: 'Taviraj', serif; /* Set paragraphs font-family to Taviraj */
  color: #000000;
  font-weight: normal;
  font-size: 16px;
  margin: 24px 10px;
}


/* General styles for headings */
h1, h2, h3, h4 {
  font-family: 'Work Sans', sans-serif; /* Set headings font-family to Work Sans */
}

/* Individual heading styles */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

.project-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.project-summary {
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;
}


.prototype {
  background-color: #FEDE00; /* Background color */
  color: #000000; /* Text color */
  padding: 10px 20px; /* Padding */
  text-decoration: none; /* Remove underline from link */
  display: block; /* Makes the button a block-level element */
  width: fit-content; /* Adjust width based on content */
  margin: 0 auto; /* Centers the button horizontally */
  border: 1px solid #002E42; /* Border */
  cursor: pointer; /* Change cursor on hover (optional) */
}


.problem {
  height: 21px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ED0707;
  text-align: center;
  margin: 0 auto; /* center the element horizontally */
  margin-top: 30px;
  margin-bottom: 30px;
}
  
.solution {
  height: 21px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ED0707;
  text-align: center;
  margin: 0 auto; /* center the element horizontally */
  margin-top: 30px;
  margin-bottom: 30px;
}

.research {
  text-align: center;
}

.user-surveys {
  height: 21px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ED0707;
  text-align: center;
  margin: 0 auto; /* center the element horizontally */
  margin-top: 30px;
  margin-bottom: 30px;
}

.button-container {
  display: flex;
  justify-content: center; /* Horizontally center items */
  margin-top: 20px; /* Adjust top margin as needed */
}

.button-container a {
  text-decoration: none;
  padding: 10px 20px; /* Adjust padding as needed */
  background-color: #FEDE00; /* Yellow background color */
  color: #000000; /* Text color */
  border: 1px solid #002E42; /* Border */
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition on hover */
  margin: 0 25px; /* Set equal margins around buttons */
}

.Excursion,
.Scuba-Survey {
  /* Use common styles for both Excursion and Scuba-Survey */
  display: inline-block; /* Change to inline-block for sizing */
}

.Scuba-Survey {
  margin-left: 50px; /* Left margin for the Scuba-Survey button */
}

.button-container a:hover {
  background-color: #FFCC00; /* Darker yellow on hover */
}

.flex-container {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center; /* Align items vertically */
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.flex-container > div {
  width: 200px; /* Adjust width as needed */
  text-align: center; /* Center align text */
  margin: 10px; /* Add some space between items */
  border: 1px solid #ccc; /* Optional: add borders for clarity */
  padding: 10px; /* Optional: add padding for spacing */
}

.analysis {
  height: 21px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ED0707;
  text-align: center;
  margin: 0 auto; /* center the element horizontally */
  margin-top: 30px;
  margin-bottom: 30px;
}

.link-analysis {
  background-color: #FEDE00; /* Background color */
  color: #000000; /* Text color */
  padding: 10px 20px; /* Padding */
  text-decoration: none; /* Remove underline from link */
  display: block; /* Makes the button a block-level element */
  width: fit-content; /* Adjust width based on content */
  margin: 0 auto; /* Centers the button horizontally */
  border: 1px solid #002E42; /* Border */
  cursor: pointer; /* Change cursor on hover (optional) */
}


.logo-container {
  display: flex;
  justify-content: space-between; /* Evenly space items */
  align-items: center; /* Align items vertically */
  width: 90%; /* Adjust width as needed */
  max-width: 1200px; /* Set max-width for responsiveness */
  margin: 0 auto; /* Center the container */
}


/* Apply common styles to each image */
.logo-container img {
  height: auto; /* Maintain aspect ratio */
  max-width: 100%; /* Ensure images don't exceed their natural size */
}

/* Larger logo specific styling */
.larger-logo {
  width: 25%; /* Adjust size for the larger logo */
}

.smaller-logo {
  width: 15%; /* Adjust size for smaller logos */
}


.user-stories-sa {
  height: 21px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ED0707;
  text-align: center;
  margin: 0 auto; /* center the element horizontally */
  margin-top: 30px;
  margin-bottom: 30px;
 }

/* Two-column layout */
.row {
  display: flex;
  flex-direction: row; /* Arrange columns in a row */
  align-items: flex-start; /* Align items at the start of the flex container */
}

/* Style for each column */
.column {
  flex: 1; /* Equal width for both columns */
  background-color: #0AC6E7;
  padding: 10px;
  margin-bottom: 20px;
}

/* Additional styling for user needs column */
.as-user,
.as-owner {
  text-align: center; /* Center-align headings if desired */
  margin-top: 0; /* Adjust top margin for headings */
}

/* Style for the second column (right column) */
.column:nth-child(2) {
  margin-top: -2px; /* Adjust the value as needed */
  margin-bottom: 22px; /* Adjust the bottom margin to counteract the negative top margin */
}








.our-users {
  height: 21px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ED0707;
  text-align: center;
  margin: 0 auto; /* center the element horizontally */
  margin-top: 30px;
  margin-bottom: 30px;
 }





















