/* Reset default margin and padding */
body, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  font-family: 'Taviraj', serif; /* Primary font */
}

body {
  font-family: 'Taviraj', serif;
  font-size: 18px;
  margin: 0 80px; /* Updated margin to 80px on both sides */
}

/* General styles for paragraphs */
p {
  font-family: 'Taviraj', serif;
  color: #000000;
  font-weight: normal;
  font-size: 16px;
  margin: 24px 10px;
}

/* General styles for headings */
h1, h2, h3, h4 {
  font-family: 'Work Sans', sans-serif;
}

/* Individual heading styles */
h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 24px;
}

.project-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

.project-summary {
font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  margin-bottom: 30px;
}

.prototype {
  position: absolute;
  top: 50%; /* Position the button 50% from the top */
  left: 50%; /* Position the button 50% from the left */
  transform: translate(-50%, -50%); /* Center the button using translation */
}

.prototype a {
  /* Button properties */
  background-color: #FEDE00;
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid #002E42;
  cursor: pointer;

  /* Center text within the button */
  text-align: center;
  display: inline-block; /* Set to inline-block to fit its content */
}


.problem {
  height: 21px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ED0707;
  text-align: center;
  margin: 0 auto; /* center the element horizontally */
  margin-top: 30px;
  margin-bottom: 30px;

.solution {
  height: 21px;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ED0707;
  text-align: center;
  margin: 0 auto; /* center the element horizontally */
  margin-top: 30px;
  margin-bottom: 30px;

  

.newspaper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
    -moz-column-gap: 20px; /* Firefox */
    column-gap: 20px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
    -webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 1px; /* Firefox */
    column-rule-width: 1px;
    -webkit-column-rule-color: black; /* Chrome, Safari, Opera */
    -moz-column-rule-color: black; /* Firefox */
    column-rule-color: black;
}


.flex-container {
  display: flex;
  justify-content: center;
  background-color: white;
}


.flex-container > div {
  background-color: #ffffff;
  font-family:'Taviraj',serif;
  width: 180px;
  margin: 15px;
  text-align: center;
  line-height: 50px;
  font-size: 17px;
}




