/* Base styles */
body {
    margin: 0;
    padding: 0;
    padding-top: 90px; /* Adjust the top padding accordingly */
}
 
p {
    font-family: 'Taviraj', serif;
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    margin: 24px 10px;
}

h1, h2, h3, h4 {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #434F5B; /* Adjust background color as needed */
    padding: 10px;
}

.nav-links {
    display: flex;
}

.nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: #333; /* Adjust link color as needed */
}

  
/* services section styles */
.services-container {
    margin-bottom: 40px; /* Adjust the margin as needed */
}

.services-title, .solution-title {
    text-align: center;
}

.services-list {
    list-style: none;
    padding-left: 0;
    margin-top: 20px; /* Adjust the top margin of the services list */
    margin-bottom: 20px; /* Adjust the bottom margin of the services list */
}

.services-list li {
    display: flex;
    align-items: center;
    margin-bottom: 15px; /* Adjust the margin between individual service items */
}

.services-list li i {
    margin-right: 10px;
}

.contact-link {
    color: #FF6162;
    text-decoration: none;
}

/* Footer styles */
.site-footer {
    width: 100%;
    background-color: #434F5B;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Tablet styles */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    body {
        padding-top: 100px;
    }
    h1 {
        font-size: 30px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    /* Add other tablet-specific styles as needed */
}

/* Mobile styles */
@media screen and (max-width: 599px) {
    body {
        padding-top: 80px;
    }
    h1 {
        font-size: 24px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    /* Add other mobile-specific styles as needed */
}
