/* Base styles */
body {
    margin: 0;
    padding: 0;
    padding-top: 90px; /* Adjust the top padding accordingly */
}

/* Styles for headings */
h1, h2, h3, h4 {
    font-family: 'Work Sans', sans-serif;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 24px;
}

/* Styles for paragraphs */
p {
    font-family: 'Taviraj', serif;
    color: #000000;
    font-weight: normal;
    font-size: 16px;
    margin: 24px 10px;
}

/* Styles for buttons */
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.book-button {
    display: inline-block;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    cursor: pointer;
    background-color: #FFFFFF;
    color: #00204A;
    border: 1px solid #00204A;
}

.book-button:hover {
    background-color: #D3E9F8;
    color: #00204A;
    border-color: #D3E9F8;
    text-decoration: none;
}

/* Styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

/* Styles for the hamburger menu */
.hamburger-menu {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-link {
        display: none;
    }

    .hamburger-menu {
        display: flex; /* Show hamburger menu */
    }

    .mobile-nav {
        display: flex; /* Show mobile navigation */
        flex-direction: column;
        background-color: #333;
        padding: 10px 20px;
    }

    .mobile-nav .nav-link {
        color: white;
        text-decoration: none;
        margin: 10px 0;
    }
}
