/* Base styles */
body {
    margin: 0;
    padding: 0;
    padding-top: 90px; /* Adjust the top padding accordingly */
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #434F5B; /* Adjust background color as needed */
    padding: 10px;
}

.nav-link {
    margin: 0 15px;
    text-decoration: none;
    color: #fff; /* Adjust link color as needed */
}

/* Adjustments for services section */
.services-container {
    text-align: center;
}

.service {
    margin-bottom: 40px;
}


.solution-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.services-content {
    text-align: left;
}
    
.services-list {
    list-style: none;
    padding-left: 0;
}

.services-list li {
    margin-bottom: 15px;
}

.services-list li strong {
    font-size: 20px;
}

.services-list li ul {
    margin-top: 5px;
}

.services-list li ul li {
    font-size: 16px;
}


.contact-link {
    color: #FF6162;
    text-decoration: none;
}

/* Footer styles */
.site-footer {
    width: 100%;
    background-color: #434F5B;
    color: white;
    text-align: center;
    padding: 20px 0;
}

/* Tablet styles */
@media screen and (min-width: 600px) and (max-width: 1023px) {
    body {
        padding-top: 100px;
    }
    .services-title {
        font-size: 30px; /* Adjust the font size */
    }
}

/* Mobile styles */
@media screen and (max-width: 599px) {
    body {
        padding-top: 80px;
    }
    .services-title {
        font-size: 24px; /* Adjust the font size */
    }
}










