.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Spread the cards evenly on the row */
}


.project-card {
  width: 48%;
  margin: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.2s, filter 0.2s;
  box-sizing: border-box;
  background-color: #006DB6; /* New background color for project cards */
  color: #FFFFFF; /* New text color for project cards */
}


/* Adjust the margin or padding for title and content */
.project-card .title {
  margin-bottom: 5px; /* You can adjust this value to control the space between the title and content */
}

.project-card .content {
  margin-top: 5px; /* You can adjust this value to control the space between the title and content */
}


.project-card img {
  max-width: 75%; /* Reduce the maximum width to 85% (15% reduction) */
  height: auto; /* Maintain aspect ratio */
  transition: filter 0.2s;
}

.project-card:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
}

.project-card img:hover {
  filter: grayscale(100%); /* Convert the image to black and white on hover */
}

.project-card.selected {
  transform: scale(1.1); /* Enlarge the selected card */
}

.center-heading {
  text-align: center; /* Center the text horizontally */
}

.center-text {
  text-align: center; /* Center the text horizontally */
}


